.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-size: cover;
  color: white;
  margin: 0px auto;
  padding: 20px 0px; 
}


.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-size: cover;
  color: floralwhite; 
}

address {
  font-size: 80%;
  margin: 0px;
  color: floralwhite; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
}

.navbar-dark {
  background-color: rgb(25, 222, 7); }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 620px; }
    .carousel .carousel-item img {
      position: absolute; 
      height: 620px;
      width: 100% }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.modal-header {
  background-size: cover;
  color: rgb(23, 22, 21);
}

.modal-header .close {
  color: floralwhite; 
}

form {
  padding: 20px;
}
