<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/bdlogo.png') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='node_modules/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <title>Helpful Blood Donation</title>
</head>

<body>
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
	 	<div class="container">
	 		<a class="navbar-brand mr-auto" href="/"><img src="{{ url_for('static', filename='img/bdlogo.png') }}" height="35" width="60"></a>
	 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
	 			<span class="navbar-toggler-icon"></span>
	 		</button>
	 		<div class="collapse navbar-collapse" id="Navbar">
	 			<ul class="navbar-nav mr-auto">
		 			<li class="nav-item"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/donor"><span class="fa fa-arrow-circle-up fa-lg"></span> Donor</a></li>
                    <li class="nav-item"><a class="nav-link" href="/recipient"><span class="fa fa-arrow-circle-down fa-lg"></span> Recipient</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus"><span class="fa fa-info fa-lg"></span> About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
	 			</ul>	 
                <span class="navbar-text">
                    <a id="loginButton" href="/dashboard">
                        <span class="fa fa-user-circle"></span> Admin Panel
                    </a>
                </span>			
	 		</div>
	 	</div>
	</nav>

    {% block body %} {% endblock %}

    <footer class="footer" style="background-image: url('{{ url_for('static', filename='img/back5.png') }}');">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" style=" font-weight: bolder;">HOME</a></li>
                        <li><a href="/donor" style=" font-weight: bolder;">DONOR</a></li>
                        <li><a href="/recipient" style=" font-weight: bolder;">RECIPIENT</a></li>
                        <li><a href="/aboutus" style=" font-weight: bolder;">ABOUT</a></li>
                        <li><a href="/contact" style=" font-weight: bolder;">CONTACT</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        202 Ananya Pearl Balaji Nagar<br>
                        Kathora Road Amravati 444604<br>
                        Maharashtra, India<br><br>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary btn-sm" href="tel:{{params['admin-mobile']}}"><i class="fa fa-phone"></i> Call</a>
                            <a role="button" class="btn btn-success btn-sm" href="mailto:{{params['admin-mail']}}"><i class="fa fa-envelope-o"></i> Email</a>
                        </div>
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-twitter" href="{{params['tw_url']}}" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <label>© Copyright 2022 {{params['project_name']}}</label> 
                </div>
           </div>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
</body>

</html>